@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
$primary-color: #F4BD90;

$topbar-background: $white;

$callout-background: $primary-color;
$callout-font-color: $white;
$callout-font-color-alt: $white;
$callout-margin:0 0 3rem 0;
